<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nolja | Find the differences</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>

  <body>
    <div id='app'>
    <v-app>
    	<v-container grid-list-md text-xs-center>
    		<v-layout row wrap>
    			<v-flex d-flex xs12>
		          <v-card>
		            <v-card-text class='display-1'>Here are the game rules. Try to find the differences between the two images as fast as possible. We wish you good luck !</v-card-text>
		          </v-card>
		        </v-flex>
            <v-flex d-flex xs12>
              <v-card>
                    <!-- ######################### -->
                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog = true">Santa Claus</v-btn> <!-- 1 bouton ouvre dialogue -->
                  <v-dialog v-model="dialog">
                    <v-flex text-xs-center>
                      <v-menu offset-y v-model="showMenu" absolute :position-x="x" :position-y="y"> <!-- 3 ouvrir menu->ouvre contenu-->
                        <v-card>
                          <v-card-text><v-icon color='green'>check_circle</v-icon> You've found a difference !</v-card-text>
                        </v-card>
                      </v-menu>
                      <img src="assets/unnamed66.jpg" usemap="#santaclaus">
                      <map name="santaclaus"> <!-- 2 map désigne des régions de l'image interactives, quand clique->lancer show -->
                        <area shape="circle" coords="796, 245, 36" @click="show">
                        <area shape="circle" coords="1090, 376, 19" @click="show">
                        <area shape="rect" coords="814, 512, 984, 552" @click="show">
                        <area shape="rect" coords="1081, 540, 1118, 676" @click="show">
                        <area shape="circle" coords="760, 485, 19" @click="show">
                      </map>

                    </v-flex>
                  </v-dialog>
                  <!-- ######################### -->
                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog2 = true">Under the sea</v-btn>
                  <v-dialog v-model="dialog2">
                    <v-flex text-xs-center>
                        <img src="assets/underthesea.jpeg" usemap="#sea">
                        <map name="sea">
                          <area shape="circle" coords="226, 525, 44" @click="alert(1)">
                          <area shape="poly" coords="80, 362, 130, 337, 215, 376, 104, 439, 77, 432" @click="alert(2)">
                          <area shape="circle" coords="316, 376, 30" @click="alert(3)">
                          <area shape="rect" coords="442, 357, 502, 385" @click="alert(4)">
                          <area shape="poly" coords="468, 555, 508, 545, 558, 555, 571, 645, 472, 645" @click="alert(5)">
                          <area shape="poly" coords="297, 574, 337, 571, 422, 599, 391, 682, 296, 675" @click="alert(6)">
                          <area shape="rect" coords="181, 605, 291, 673" @click="alert(7)">
                          <area shape="circle" coords="143, 665, 18" @click="alert(8)">
                        </map>
                    </v-flex>
                  </v-dialog>

                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog3 = true">Grandma's kitchen</v-btn>
                  <v-dialog v-model="dialog3">
                    <v-flex text-xs-center>
                        <img src="assets/grandma.png" usemap="#grandma">
                        <map name="grandma">
                          <area shape="circle" coords="84, 109, 18" @click="alert(1)">
                          <area shape="circle" coords="318, 88, 23" @click="alert(2)">
                          <area shape="rect" coords="286, 125, 329, 171" @click="alert(3)">
                          <area shape="circle" coords="225, 144, 11" @click="alert(4)">
                          <area shape="circle" coords="95, 207, 17" @click="alert(5)">
                          <area shape="rect" coords="48, 327, 115, 369" @click="alert(6)">
                          <area shape="rect" coords="257, 348, 300, 383" @click="alert(7)">
                          <area shape="circle" coords="336, 305, 17" @click="alert(8)">
                          <area shape="circle" coords="268, 238, 15" @click="alert(9)">
                          <area shape="circle" coords="112, 36, 22" @click="alert(10)">
                          <area shape="circle" coords="231, 252, 16" @click="alert(11)">
                          <area shape="rect" coords="118, 262, 215, 287" @click="alert(12)">
                          <area shape="rect" coords="125, 89, 181, 126" @click="alert(13)">
                          <area shape="circle" coords="340, 197, 18" @click="alert(14)">
                        </map>
                    </v-flex>
                  </v-dialog>
                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog4 = true">On mars</v-btn>
                  <v-dialog v-model="dialog4">
                    <v-flex text-xs-center>
                        <img src="assets/stars.png" usemap="#stars">
                        <map name="stars">
                          <area shape="circle" coords="22, 68, 19" @click="alert(1)">
                          <area shape="poly" coords="69, 189, 111, 174, 151, 212, 140, 236, 89, 219" @click="alert(2)">
                          <area shape="poly" coords="49, 281, 82, 272, 98, 290, 98, 314, 68, 320" @click="alert(3)">
                          <area shape="circle" coords="223, 345, 30" @click="alert(4)">
                          <area shape="circle" coords="610, 274, 30" @click="alert(5)">
                          <area shape="circle" coords="625, 220, 21" @click="alert(6)">
                          <area shape="rect" coords="528, 159, 564, 240" @click="alert(7)">

                        </map>
                    </v-flex>
                  </v-dialog>
                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog5 = true">In the library</v-btn>
                  <v-dialog v-model="dialog5">
                    <v-flex text-xs-center>
                        <img src="assets/library.png" usemap="#library">
                        <map name="library">
                          <area shape="circle" coords="584, 127, 30" @click="alert(1)">
                          <area shape="circle" coords="411, 349, 28" @click="alert(2)">
                          <area shape="circle" coords="135, 346, 25" @click="alert(3)">
                          <area shape="circle" coords="223, 101, 15" @click="alert(4)">
                          <area shape="rect" coords="339, 87, 361, 142" @click="alert(5)">
                          <area shape="circle" coords="257, 165, 24" @click="alert(6)">

                        </map>
                    </v-flex>
                  </v-dialog>
                  <v-btn dark color='indigo lighten-2' @click.native.stop="dialog6 = true">Green planet</v-btn>
                  <v-dialog v-model="dialog6">
                    <v-flex text-xs-center>
                        <img src="assets/alphabet.png" usemap="#alphabet">
                        <map name="alphabet">
                          <area shape="circle" coords="63, 112, 30" @click="alert(1)">
                          <area shape="circle" coords="400, 57, 30" @click="alert(2)">
                          <area shape="rect" coords="312, 213, 356, 241" @click="alert(3)">
                          <area shape="rect" coords="32, 252, 72, 308" @click="alert(4)">
                          <area shape="circle" coords="402, 374, 23" @click="alert(5)">
                          <area shape="poly" coords="392, 98, 429, 80, 470, 67, 475, 138, 428, 166" @click="alert(6)">

                        </map>
                    </v-flex>
                  </v-dialog>
              </v-card>
            </v-flex>
            <v-flex xs12>
              <img src="../imgs/Find-the-Differences.jpg" width="40%">
            </v-flex>
    		</v-layout>
		</v-container>
    </v-app>
    </div>
    <script src='https://unpkg.com/vue'></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="index.js" charset="utf-8"></script>

  </body>
</html>
